/* Nav section start */
.nav-container {
    display: flex;
    justify-content: space-between;
}

.nav-container h1 {
    font-family: "Azeret Mono", monospace;
    font-size: 28px;
    font-weight: 800;
    margin: 50px 0px 48px 150px;
    color: var(--black-color);
}

.nav-container button {
    font-family: "Azeret Mono", monospace;
    font-size: 20px;
    font-weight: 600;
    margin: 50px 190px 52px 0px;
    padding: 17px 24px;
    color: var(--black-color);
    box-sizing: border-box;
    border: 1px solid var(--black-color);
    border-radius: 8px;
    opacity: 0.8;
}

/* Nav section end */

/* Banner section start */
.banner-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-image: url('../assets/Hero-bg.png');
    background-size: cover;
    max-width: 1440px;
    max-height: 652px;
}

.banner-container img {
    max-width: 240px;
    max-height: 240px;
    margin-top: 26px;
    margin-bottom: 32px;
}

.banner-container h1 {
    max-width: 998px;
    max-height: 136px;
    font-family: "Azeret Mono", monospace;
    font-size: 40px;
    font-weight: 800;
    letter-spacing: 0%;
    color: var(--black-color);
    text-align: center;
}

.banner-container p {
    max-width: 852px;
    max-height: 52px;
    margin-top: 24px;
    margin-bottom: 32px;
    text-align: center;
}

.banner-container button {
    margin-bottom: 44px;
    background-color: var(--black-color);
    border-radius: 8px;
    padding: 21px 24px;
}

.banner-container button a {
    font-family: "Azeret Mono", monospace;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0%;
    color: var(--white-color);
    text-decoration: none;
}
/* Banner section end */

/* Why Web Development? section start */
.why-web {
    width: 100%;
    height: 1550px;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
    margin: 74px 0px 88px 0px;
}

.why-web-heading-container {
    padding-top: 80px;
    max-width: 852px;
    max-height: 115px;
    margin: 0 auto;
}

.why-web-heading-container p {
    text-align: center;
    margin-top: 24px;
}

.why-web-img-heading-description {
    max-width: 850px;
    height: 300px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
    padding: 48px;
    border-radius: 16px;
    background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
}

.why-web-img-text-heading {
    font-family: "Azeret Mono", monospace;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0%;
    color: var(--black-color);
    opacity: 0.7;
}

.why-web-heading-description {
    max-width: 477px;
    max-height: 220px;
}

.why-web-heading-description p {
    margin-top: 16px;
}

.why-web-heading-description button {
    padding: 12px 20px;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.7);
    margin-top: 32px;
}

.why-web-heading-description button a {
    font-family: "Azeret Mono", monospace;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0%;
    color: var(--black-color);
    opacity: 0.7;
    text-decoration: none;
}
/* Why Web Development? section end */

/* My Inspiration section start */
.my-inspiration {
    max-width: 852px;
    height: 115px;
    margin: 0 auto;
}

.my-inspiration p {
    text-align: center;
    margin-top: 24px;
}

.video {
    margin-top: 48px;
    border-radius: 16px;
    padding: 32px;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.2);
}

.video-ifame {
    width: 1076px; 
    height: 550px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    border-radius: 16px;
}
/* My Inspiration section end */

/* My Current Target section start */
.my-current-target-header-des {
    max-width: 852px;
    max-height: 115px;
    margin: 0 auto;
    margin-top: 149px;
}

.my-current-target-header-des p {
    text-align: center;
    margin: 24px 0px 48px 0px;
}

.my-current-targets {
    display: flex;
    justify-content: space-between;
}

.my-current-target {
    max-width: 284px;
    max-height: 220px;
    padding: 40px;
}

.my-current-target-heading {
    display: flex;
    text-align: left;
}

#my-current-target {
    margin: 0px 24px;
}

.my-current-target img {
    max-width: 56px;
    max-height: 56px;
    margin-bottom: 24px;
}

.my-current-target p {
    margin: 8px 0px 24px 0px;
}

.my-current-target button {
    border: none;
    background-color: none;
}

.my-current-target button a {
    font-family: "Azeret Mono", monospace;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0%;
    color: var(--black-color);
}

.one {
    border-radius: 16px;
    background: rgba(255, 76, 30, 0.05);
}

.two {
    border-radius: 16px;
    background: rgba(0, 76, 232, 0.05);
}

.three {
    border-radius: 16px;
    background: rgba(255, 223, 0, 0.05);
}
/* My Current Target section end */

/* I need Support section start */

.i-need-support-container {
    width: 1044px;
    height: 186px;
    background-color: rgba(0, 0, 0, 0.5);
    background-image: url('../assets/handshake.jpg');
    background-size: cover;
    padding: 64px 48px;
    border-radius: 16px;
    margin-top: 50px;
    background-blend-mode: overlay;
}

.i-need-support-container h2 {
    font-family: "Azeret Mono", monospace;
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 0%;
    text-align: center;
    color: var(--white-color);
}

.i-need-support-container p {
    text-align: center;
    margin: 16px 0px 24px 0px;
    color: var(--white-color);
}

.i-need-support-input-button {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.i-need-support-input {
    width: 508px;
    height: 19px;
    padding: 19px 20px;
    border-radius: 8px;
    border: none;
    margin-right: 16px;
}

.i-need-support-button {
    width: 120px;
    height: 55px;
    padding: 17px 20px;
    font-family: "Azeret Mono", monospace;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0%;
    border-radius: 8px;
    border: none;
}


/* I need Support section end */

/* footer section start */
footer {
    max-width: 1140px;
    margin: 0 auto;
}
.footer-container {
    margin: 111px 0px 50px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-container h2 {
    font-family: "Azeret Mono", monospace;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0%;
    color: var(--black-color);
}

.social-icon {
    font-size: 30px;
    color: blue;
    margin: 0px 20px 0px 0px;
}

.github-icon {
    color: var(--black-color);
}
/* footer section end */
