/* Nav section start */
.nav-container {
    display: flex;
    justify-content: space-between;
}

.nav-container h1 {
    font-family: "Azeret Mono", monospace;
    font-size: 28px;
    font-weight: 800;
    margin: 50px 0px 48px 150px;
    color: var(--black-color);
}

.nav-container button {
    font-family: "Azeret Mono", monospace;
    font-size: 20px;
    font-weight: 600;
    margin: 50px 190px 52px 0px;
    padding: 17px 24px;
    color: var(--black-color);
    box-sizing: border-box;
    border: 1px solid var(--black-color);
    border-radius: 8px;
    opacity: 0.8;
}

/* Nav section end */

/* Banner section start */
    .banner-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        background-image: url('../assets/Hero-bg.png');
        max-width: 1440px;
        max-height: 652px;
    }

    .banner-container img {
        max-width: 240px;
        max-height: 240px;
        margin-top: 26px;
        margin-bottom: 32px;
    }

    .banner-container h1 {
        max-width: 998px;
        max-height: 136px;
        font-family: "Azeret Mono", monospace;
        font-size: 40px;
        font-weight: 800;
        letter-spacing: 0%;
        color: var(--black-color);
        text-align: center;
    }

    .banner-container p {
        max-width: 852px;
        max-height: 52px;
        font-family: "Azeret Mono", monospace;
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 0%;
        opacity: 0.7;
        margin-top: 24px;
        margin-bottom: 32px;
        text-align: center;
    }

    .banner-container button {
        font-family: "Azeret Mono", monospace;
        font-size: 20px;
        font-weight: 600;
        letter-spacing: 0%;
        margin-bottom: 44px;
        color: var(--white-color);
        background-color: var(--black-color);
        padding: 21px 24px;
        border-radius: 8px;
    }
/* Banner section end */